.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: white;
}

.logo {
    font-size: 15vh;
    margin-top: 34.5vh;
    margin-bottom: 37.5vh;
}

.thumbnail-logo {
    margin-top: 34.5vh;
    margin-bottom: 37.5vh;
}

.thumbnail {
    width: auto;
    height: 20vh;
    vertical-align: top;
    align-content: center;
}

.photo {
    border-radius: 100%;
    height: auto;
    width: 128px;
    vertical-align: top;
    margin-top: 5px;
    align-content: center;
}

.desc {
    width: 100%;
    height: inherit;
    font-size: 20px;
    background-color: rgba(78, 79, 87, 0.3);
}

.flag {
    width: 30px;
    max-height: auto;
    border-radius: 3px;
}